# Eclipse
.classpath
.project
.settings/
bin/

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/

#Gradle
build/
.gradle/

# Java
*.class

# Package Files
*.jar
*.war
*.ear

#Spring
.springBeans

#TomCat
catalina.out

# JavaScript / Node / Grunt
node_modules
.sass_cache
.sass-cache
bower_components
.tmp

# JRebel
rebel.xml

#all mac DS files
.DS*