swagger: '2.0'
info:
  title: CatWatch API
  description: Get your GitHub statistics with the CatWatch API
  version: 1.0.0
host: catwatch.opensource.zalan.do
schemes:
  - https
produces:
  - application/json
paths:
  /statistics:
    get:
      summary: General statistics of list of GitHub Organizations
      description: 'The Statistics endpoint returns snapshot of statistics over a given period of time of the organization GitHub account. Statistics contains information of the count of all private projects,  public projects, members, teams, contributors, stars, forks, size, programming languages, tags of the list of GitHub Organizations. If start date and end date is not present, most recent statistics snapshot is returned. If start date and end date is present all statistics snaphots starting from start date till end date is returned. If start date is present and end date is not present, all statistics snapshot starting from start date till present is returned.'
      parameters:
        - name: organizations
          in: query
          description: List of GitHub organizations to scan(comma separated)
          required: true
          type: string
        - name: start_date
          in: query
          description: Date from which to start fetching statistics records from database(default = most recent snapshot date, format = yyyy-MM-ddThh:mm:ssZ)
          required: false
          type: string
          format: date-time
        - name: end_date
          in: query
          description: Date till which statistics records will be fetched from database(default = most recent snapshot date, format = yyyy-MM-ddThh:mm:ssZ)
          required: false
          type: string
          format: date-time
      tags:
        - Statistics
      responses:
        '200':
          description: An array of Statistics over selected period of time.
          schema:
            type: array
            items:
              $ref: '#/definitions/Statistics'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /statistics/projects:
    get:
      summary: General statistics of list of different projects
      description: 'The statistics/projects endpoint returns snapshot of statistics over a given period of time of different projects. Statistics contains information of the project name, the count of all the commits, forks, and the snapshot date.'
      parameters:
        - name: organizations
          in: query
          description: List of GitHub organizations to scan(comma separated)
          required: false
          type: string
        - name: start_date
          in: query
          description: Date from which to start fetching statistics records from database(default = most recent snapshot date, format = yyyy-MM-ddThh:mm:ssZ)
          required: false
          type: string
          format: date-time
        - name: end_date
          in: query
          description: Date till which statistics records will be fetched from database(default = most recent snapshot date, format = yyyy-MM-ddThh:mm:ssZ)
          required: false
          type: string
          format: date-time
      tags:
        - Statistics
      responses:
        '200':
          description: An array of Statistics over selected period of time for the project.
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectStatistics'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /statistics/contributors:
    get:
      summary: General statistics of list of different projects
      description: 'The statistics/projects endpoint returns snapshot of statistics over a given period of time of different projects. Statistics contains information of the project name, the count of all the commits, forks, and the snapshot date.'
      parameters:
        - name: organizations
          in: query
          description: List of GitHub organizations to scan(comma separated)
          required: false
          type: string
        - name: start_date
          in: query
          description: Date from which to start fetching statistics records from database(default = most recent snapshot date, format = yyyy-MM-ddThh:mm:ssZ)
          required: false
          type: string
          format: date-time
        - name: end_date
          in: query
          description: Date till which statistics records will be fetched from database(default = most recent snapshot date, format = yyyy-MM-ddThh:mm:ssZ)
          required: false
          type: string
          format: date-time
      tags:
        - Statistics
      responses:
        '200':
          description: An array of Statistics over selected period of time for the project.
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectStatistics'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /contributors:
    get:
      summary: Contributor
      description: "The Contributors endpoint returns all information like name, url, commits count, \nprojects count of all the Contributors for the selected filter. \n"
      parameters:
        - name: organizations
          in: query
          description: List of GitHub organizations to scan(comma separated)
          required: true
          type: string
        - name: limit
          in: query
          description: Number of items to retrieve. Default is 5.
          required: false
          type: integer
          format: int32
        - name: offset
          in: query
          description: Offset the list of returned results by this amount. Default is zero.
          required: false
          type: integer
          format: int32
        - name: start_date
          in: query
          description: Date from which to start fetching records from database(default = most recent snapshot date, format = yyyy-MM-ddThh:mm:ssZ)
          required: false
          type: string
          format: date-time
        - name: end_date
          in: query
          description: Date till which records will be fetched from database(default = most recent snapshot date, format = yyyy-MM-ddThh:mm:ssZ)
          required: false
          type: string
          format: date-time
        - name: sort_by
          in: query
          description: "parameter by which result should be sorted. '-' means descending order (default is count of commit in descending order)"
          required: false
          type: string
          enum:
            - organizationalCommitsCount
            - '-organizationalCommitsCount'
            - organizationalProjectsCount
            - '-organizationalProjectsCount'
            - personalCommitsCount
            - '-personalCommitsCount'
            - personalProjectsCount
            - '-personalProjectsCount'
            - organizationName
            - '-organizationName'
            - name
            - '-name'
          default: '-organizationalCommitsCount'
        - name: q
          in: query
          description: query parameter for search query (this will be contributor names prefix)
          required: false
          type: string
      tags:
        - Contributor
      responses:
        '200':
          description: An array of Contributors of selected GitHub organization
          schema:
            type: array
            items:
              $ref: '#/definitions/Contributor'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /projects:
    get:
      summary: Project
      description: 'The Projects endpoint returns all information like name,description, url, stars count, commits count, forks count, contributors count, score, languages used, last pushed of all the projects for the selected filter. If start date and end date is not present, all projects from most recent snapshot is returned. If start date and end is present, project performance data between start date and end date is returned. If only start date is present, project performance data of project list between start date and  most recent snapshot is returned. If only end date is present, project statistics of end date is returned'
      parameters:
        - name: organizations
          in: query
          description: List of GitHub organizations to scan(comma separated). By default it fetches organization list from config file.
          required: false
          type: string
        - name: limit
          in: query
          description: Number of items to retrieve. Default is 5.
          required: false
          type: integer
          format: int32
        - name: offset
          in: query
          description: Offset the list of returned results by this amount. Default is zero.
          required: false
          type: integer
          format: int32
        - name: start_date
          in: query
          description: Date from which to start fetching records from database(default = most recent snapshot date, format = yyyy-MM-ddThh:mm:ssZ)
          required: false
          type: string
          format: date-time
        - name: end_date
          in: query
          description: Date till which records will be fetched from database(default = most recent snapshot date, format = yyyy-MM-ddThh:mm:ssZ)
          required: false
          type: string
          format: date-time
        - name: sort_by
          in: query
          description: "parameter by which result should be sorted. '-' means descending order (count of star,count of commit, count of forks, count of contributors, score). Default is descending order of score."
          required: false
          type: string
          enum:
            - commits
            - '-commits'
            - stars
            - '-stars'
            - forks
            - '-forks'
            - contributors
            - '-contributors'
            - score
            - '-score'
          default: '-score'
        - name: q
          in: query
          description: query paramater for filtering result by project names
          required: false
          type: string
        - name: language
          in: query
          description: query paramater for filtering result by programming language
          required: false
          type: string
      tags:
        - Project
      responses:
        '200':
          description: An array of Projects of selected GitHub organization
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /languages:
    get:
      summary: Project programming language
      description: The languages endpoint returns information about the languages used for projects by selected GitHub Organizations order by the number of projects using the programming language.
      parameters:
        - name: organizations
          in: query
          description: List of GitHub organizations to scan(comma separated)
          required: true
          type: string
        - name: limit
          in: query
          description: Number of items to retrieve. Default is 5.
          required: false
          type: integer
          format: int32
        - name: offset
          in: query
          description: Offset the list of returned results by this amount. Default is zero.
          required: false
          type: integer
          format: int32
        - name: q
          in: query
          description: query paramater for search query (this can be language name prefix)
          required: false
          type: string
      tags:
        - Project
      responses:
        '200':
          description: An array of programming language used and count of projects using it.
          schema:
            type: array
            items:
              $ref: '#/definitions/Language'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Statistics:
    properties:
      private_project_count:
        type: number
        description: Count of private projects.
      public_project_count:
        type: number
        description: Count of public projects.
      members_count:
        type: number
        description: Count of memebers.
      teams_count:
        type: number
        description: Count of teams.
      all_contributors_count:
        type: number
        description: Count of contributors.
      external_contributors_count:
        type: number
        description: Count of external contributors.
      all_stars_count:
        type: number
        description: Count of stars.
      all_forks_count:
        type: number
        description: Count of forks.
      all_size_count:
        type: number
        description: Count of projects.
      program_languages_count:
        type: number
        description: Count of programming languages used.
      tags_count:
        type: number
        description: Count of tags.
      organization_name:
        type: string
        description: Organization name.
      snapshot_date:
        type: string
        format: date-time
        description: Statistics snapshot date.
  Contributor:
    properties:
      name:
        type: string
        description: Name of contributor
      gitHubUserName:
        type: string
        description: Unique GitHub name of contributor
      url:
        type: string
        description: URL of contributor
      organizational_commits_count:
        type: number
        description: Count of organizational commits.
      personal_commits_count:
        type: number
        description: Count of personal commits.
      personal_projects_count:
        type: number
        description: Count of personal projects of contributor.
      organizational_projects_count:
        type: number
        description: Count of organization projects of contributor.
      organization_name:
        type: string
        description: Organization of the Contributor.
      snapshot_date:
        type: string
        format: date-time
        description: Contributor snapshot date.
  Project:
    properties:
      name:
        type: string
        description: Name of project
      title:
        type: string
        description: Title of project
      url:
        type: string
        description: URL of project
      image:
         type: string
         description: Image url of project
      description:
        type: string
        description: Description of project
      stars_count:
        type: number
        description: Count of stars for the project.
      commits_count:
        type: number
        description: Count of commits for the project.
      forks_count:
        type: number
        description: Count of forks of the project.
      contributors_count:
        type: number
        description: Count of contributors to the project.
      external_contributors_count:
        type: number
        description: Counts of external contributors to the project.
      score:
        type: string
        description: Score of project.
      last_pushed:
        type: string
        description: Last pushed data of project.
      primary_language:
        type: string
        description: Primary programming language of project
      language_list:
        type: array
        description: List of programming languages of project
        items:
          type: string
      organization_name:
        type: string
        description: Organization of the Project.
      maintainers:
        type: array
        description: List of maintainers of project
        items:
          type: string
      snapshot_date:
        type: string
        format: date-time
        description: Project snapshot date.
  Language:
    properties:
      name:
        type: string
        description: Name of the programming language used.
      projects_count:
        type: number
        description: Count of projects using it.
      percentage:
        type: number
        description: Usage percentage of programming language.
  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
  ProjectStatistics:
    properties:
      name:
        type: string
        description: The name of the project
      commit_counts:
        type: array
        items: 
          type: integer
        description: Count of commits in a time span.
      fork_counts:
        type: array
        items: 
          type: integer
        description: Count of forks in a time span.
      snapshot_date:
        type: string
        format: date-time
        description: Snapshot date.
